/.idea/
/1. Basics/message.txt
/1. Basics/node_modules/
/2. Express/node_modules/
/2. Express/test/node_modules/
/Assignments/6.1./node_modules/
/3.MVC Pattern/node_modules/
/3.MVC Pattern/data/products,json
/Course Project/node_modules/
