/.idea/
/1. Basics/message.txt
/1. Basics/node_modules/
/2. Express/node_modules/
/2. Express/test/node_modules/
/Assignments/6.1./node_modules/
/3.MVC Pattern/node_modules/
/3.MVC Pattern/data/products,json
/Course Project/node_modules/
/4. NoSQl/node_modules/
/5. Mongoose/node_modules/
/6. Cookies and Session/node_modules/
/7. Authentication/node_modules/
/8. REST API/node_modules/
/8. Rest APi front/node_modules/
