extends layouts/main-layout

block content
    main
        form(action="add-user", method="POST")
            label(for="userName")
            input#userName(name="userName", type="text")
            button(type="submit") Add User