extends layouts/main-layout

block content
    main
        if users.length > 0
            ul
                each user in users
                    li #{user.userName}
        else
            h1 No Users