<%- include('../includes/head.ejs') %>

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            Something
        </main>
        <%- include('../includes/end.ejs') %>